* {
	outline: none;
	box-sizing: border-box;
}
*::before, *::after {
	box-sizing: border-box;
}
html {
	font-size: 16px;
	@media (max-width: 1024px) {
		font-size: 15px;
	}
	@media (max-width: 768px) {
		font-size: 14px;
	}
	@media (max-width: 480px) {
		font-size: 12px;
	}
}
body {
	background-color: #fafafa;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	min-height: 100vh;
	scroll-behavior: smooth;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	@media (max-width: 768px) {
		background-color: #fff;
	}
}
.main-page {
	flex-grow: 1;
}
ul[class], ol[class] {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1[class], h2[class], h3[class], h4[class], h5[class] {
	margin-top: 0;
}
.uppercase {
	text-transform: uppercase;
}
img {
	max-width: 100%;
	display: block;
}
input, button, textarea, select {
	font: inherit;
}

.container {
	max-width: $container;
	width: 100%;
	margin: 0 auto;
}
.content-wrap {
  max-width: $content;
  margin: 0 auto;
	padding: 0 19px 0 20px;
}
.no-scroll {
	overflow: hidden;
}
