.header {
  background: #FFFFFF;
  height: 180px;
  border-bottom: 1px solid #ECECEC;
  @media (max-width: 768px) {
    height: 60px;
    border-bottom: none;
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1159px;
    margin: 0 auto;
  	padding: 0 19px 0 20px;
    @media (max-width: 768px) {
      display: block;
      padding: 6px 0;
    }
  }
}
.nav-icon {
  width: 30px;
  height: 24px;
  background-image: url(../images/nav-icon.svg);
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  top: 18px;
  left: 20px;
  z-index: 20;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.logo {
  @media (max-width: 768px) {
    height: 48px;
    width: 48px;
    margin: 0 auto;
    display: block;
  }
}

.nav {
  @media (max-width: 768px) {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #fff;
    display: block;
    padding-top: 60px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    top: 60px;
    left: 0;
    border-top: 1px solid #ECECEC;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &_list {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
  &_item {
    margin-right: 44px;
    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &_link {
    font-weight: 600;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    &:hover {
      color: $pink;
    }
    &--explore {
      background: $pink;
      border-radius: 60px;
      color: #fff;
      padding: 3px 22px;
      &:hover {
        color: #fff;
        background: darken($pink, 10%);
      }
    }
    &--profile {
      width: 41px;
      height: 40px;
      border-radius: 50%;
      background-color: #cfcfcf;
      display: block;
      @media (max-width: 768px) {
        margin: 0 auto;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
