@@include('../components/header.html')

<main class="main-page">
  <h1 class="main-title content-wrap">Improving Education in 2020</h1>

  <section class="two-columns no-padding">
    <div class="two-columns_content">
      <img src="images/photo_01.png" alt="" class="full-img">
    </div>
    <div class="two-columns_aside">
      <div class="general-info">
        <div class="info-name">
          <h5 class="info-name_title">Tyrone Fairfield</h5>
          <span class="info-name_subtitle">2020 Board of Education, Southwest City Schools District, OH</span>
        </div>
        <div class="info-date">
          <span class="info-date_title">Election Day:</span>
          <span class="info-date_date">Nov 2nd, 2020</span>
          <span class="info-date_subtitle">26 days to go</span>
        </div>
      </div>

      <div class="donation">
        <span class="donation_number">$25,324.56</span>
        <span class="donation_description">from 25 donations</span>

        <div class="progress">
          <div class="progress-bar">
            <span class="progress-bar_wrap"></span>
            <span class="progress-bar_line"></span>
          </div>
          <div class="progress_description">
            <span class="donation_description">Goal: $40,000</span>
            <span class="donation_subtitle">10 days to go</span>
          </div>
        </div>

        <button class="btn-full">Donate</button>

        <div class="btn-wrap">
          <button class="btn-border">+ Follow</button>
          <button class="btn-border">Volunteer</button>
        </div>
      </div>

    </div>
  </section>
  <section class="two-columns content-wrap">
    <div class="two-columns_content">
      <div class="tabs">
        <div class="tabs-head">
          <div class="tabs-head_item active">About</div>
          <div class="tabs-head_item">Updates</div>
          <div class="tabs-head_item">Supporters</div>
        </div>
        <div class="tabs-body">
          <div class="tabs-body_item">

            <div class="text-block">
              <h3 class="text-block_title">Background</h3>
              <div class="text-block_description">
                In 2016 state representative elections, 42% of all candidates faced
                no major party opponents. Filing to even run for local office is
                difficult. For example, in New York State there are over 100 pages
                in the election law guide and an additional 65 page 2018 update
                guide that pertain to the rules for filing to run for local office.
                Campaign fundraising compliance is also challenging.
              </div>
            </div>


            <div class="tag-block">
              <h3 class="text-block_title">Platform</h3>
              <h5 class="text-block_subtitle">The issues</h5>
              <div class="tag-wrap">
                <span class="tag">Civil liberties</span>
                <span class="tag">Campaign finance</span>
                <span class="tag">Criminal justic reform</span>
                <span class="tag">Crime</span>
                <span class="tag">Drugs</span>
                <span class="tag">Economy</span>
              </div>
            </div>
            <div class="tag-block">
              <h5 class="text-block_subtitle">organizations i support</h5>
              <div class="tag-wrap">
                <span class="tag">ACLU</span>
                <span class="tag">Action Institute for the Study of Religion and Liberty</span>
                <span class="tag">American Foundation for Suicide Prevention</span>
              </div>
            </div>

          </div>
          <div class="tabs-body_item">Text 2</div>
          <div class="tabs-body_item">Text 3</div>
        </div>
      </div>
    </div>
    <div class="two-columns_aside">
      <div class="events">
        <div class="events_head">
          <h3 class="events_title">Upcoming Events</h3>
          <a href="#" class="events_link">View all</a>
        </div>
        <div class="events_list">
          <div class="event">
            <div class="event-date">
              <span class="event-date_subtitle">mon</span>
              <span class="event-date_title">24</span>
            </div>
            <div class="event_text">
              <h5 class="event_title">Main Street Meet and Greet</h5>
              <span class="event-time">10:00 AM - 11:00 AM</span>
              <span class="event-address">125 Main St., Cherrytown, OH</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


@@include('../components/footer.html')
