<footer class="footer">
  <div class="footer_wrap content-wrap">
    <div class="copyright">©2019</div>
    <nav class="f-nav">
      <ul class="f-nav_list">
        <li class="f-nav_item"><a href="#" class="f-nav_link">Home</a></li>
        <li class="f-nav_item"><a href="#" class="f-nav_link">Explore</a></li>
        <li class="f-nav_item"><a href="#" class="f-nav_link">Privacy Policy</a></li>
        <li class="f-nav_item"><a href="#" class="f-nav_link">Term & Conditions</a></li>
      </ul>
    </nav>

    <div class="social-icons">
      <a href="#" class="social-icons_item fb"></a>
      <a href="#" class="social-icons_item twitter"></a>
    </div>
  </div>
</footer>
</body>
</html>
