@@include('../components/stylesheet.html')

<header class="header">
  <div class="header_wrap">
    <button class="nav-icon"></button>
    <a href="/" class="logo">
      <img src="images/logo.svg" alt="">
    </a>

    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item"><a href="#" class="nav_link">Home</a></li>
        <li class="nav_item"><a href="#" class="nav_link nav_link--explore">Explore</a></li>
        <li class="nav_item"><a href="#" class="nav_link">My Campaigns</a></li>
        <li class="nav_item"><a href="#" class="nav_link nav_link--profile">
          <img src="images/profile-img.png" alt="">
        </a></li>
      </ul>
    </nav>
  </div>
</header>
